body{
    display: flex;
    flex-direction: column;
}
div, ul, li{
    box-sizing: border-box;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 21px;
    height: 92px;
    background: #CF2B2B;
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}
.move-back{
    z-index: -1;
}
.title-top{
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.subtitle-top{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}
.content{
    margin-top: 92px;
    background: #E5E5E5;
    padding-bottom: 100px;
}
.products{
    height: 258px;
    padding-left: 19px;
    margin-top: 31px;
}
.call-action{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
}
.list-products{
    margin-top: 17px;
    display: flex;
    overflow-x: scroll;
}
.card-product{
    height: 216px;
    width: 164px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-product.selected{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
.img-product{
    height: 87px;
    width: 144px;
    border-radius: 4px;
}
.name-product{
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 16px;
}
.description-product{
    font-family: 'Roboto', sans-serif;
    color: #A6A6A6;
    font-size: 15px;
}
.price-product{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.price-plus-icon{
    display: flex;
    justify-content: space-between;
}
.check-selection{
    color: #32B72F;
}
.not-selected{
    display: none;
}
.bottom-button{
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-back{
    z-index: 0;
}
.checkout{
    width: 87.9%;
    height: 61px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 15%;
    padding-right: 15%;
}
.checkout.disabled{
    background: #CBCBCB;
}
.checkout.enabled{
    background: #32B72F;
    font-weight: bold;
}
.confirmation-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.info-box{
    width: 82%;
    height: 377px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px #000000 25%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 21px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 19px;
}
.title-info-box{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}
.line-confirming{
    display: flex;
    justify-content: space-between;
}
.box-dynamic{
    display: flex;
    flex-direction: column;
    height: 137px;
    justify-content: space-between;
}
.text-confirming{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}
.text-confirming.total{
    font-weight: bold;
}
.final-check{
    height: 52px;
    width: 100%;
    background: #FFFFFF;
    border: none;
    border-radius: 100px;
    color: #50D074;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.not-confirming{
    display: none;
}